@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'Open Sans', sans-serif;
}

#root {
    width: 800px;
    margin: 0 auto;
}

.calendarContainer {
    width: 100%;
}

.header {
    background-color: #2BBBAD;
    height: 80px;
    line-height: 80px;
    box-shadow: 0 0 5px #ddd;
}

.header span {
    display: inline-block;
    color: #fff;    
    font-size: 25px;
}

.header__year {
    float: right;
    margin-right: 10px;
}

.header__month {
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 5px #ddd;
}

table td {
    cursor: pointer;
    text-align: center;
    height: 40px;
}

.daysRow {
    background: #E8E8E8;
    height: 40px;
    color: #919191;
}
.date{
    transition: background 0.3s;
}
.date:hover {
    background: #2BBBAD;
    color: white!important;
}

/*
modal window stylig
*/
.tingle-modal-box {
    width: 35%;
}

.modal_container {
    width: 100%;
    text-align: center;
}

.modal__cal {
    width: 100px;
    border-radius: 5px;
    height: 120px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 0 10px #ddd;
    line-height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.modal__ribbon {
    display: inline-block;
    height: 35px;
    width: 100%;
    background: #2BBBAD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal__day {
    font-size: 50px;
    display: block;
}

.modal__month {
   font-size: 33px;

}